@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

/*
 * ─── GENERAL ────────────────────────────────────────────────────────────────────
 */

:root {
  --font-family: "Open Sans";
  --primary-color: #e100ff;
  --secondary-color: #7f00ff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: 400 14px var(--font-family), sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button,
textarea {
  font: 400 14px var(--font-family), sans-serif;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

ul::-webkit-scrollbar{
  width: 0.1rem;
}

ul::-webkit-scrollbar-track{
  background: var(--secondary-color);
}

ul::-webkit-scrollbar-thumb{
  background: #fff;
}

.wave{
  height: 100px;
  width: 100%;
}

/*
 * ─── INTRO ──────────────────────────────────────────────────────────────────────
 */

header {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  height: 100vh;
  padding: 48px;
  width: 100%;
}

header .intro {
  width: 95%;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
}

header .intro .text{
  width: 50%;
  color: white;
  animation: toLeft 1s ease-out;
}

header .intro .text h1{
  font-size: 60px;
}

header .intro .text h2{
  margin-top: 20px;
  font-size: 25px;
}

header .intro .text a{
  display: inline-block;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  transition: .2s ease-out;
}

header .intro .text a:hover{
  background: #fff;
  color: var(--primary-color);
}

#logo{
  display: block;
  height: 450px;
  object-fit: cover;
  width: auto;
  animation: toRight 1s ease-out;
}

.wave-header{
  margin-top: -150px;
  background: var(--secondary-color);
  background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

/*
 * ─── START ───────────────────────────────────────────────────────────────────
 */

#start{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#start .container{
  margin-top: 50px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

#start .container .card{
  width: 40%;
  position: relative;
  background: var(--secondary-color);
  background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-radius: 4px;
  padding: 30px;
  color: #fff;
  text-align: center;
  animation: Fade 1s ease-out;
}

#start .container .card h3{
  font-size: 30px;
  margin-bottom: 10px;
}

#start .container .card ul{
  scroll-margin-left: 10px;
  list-style: none;
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: 400px;
  min-height: 400px;
}

#start .container .card li{
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-top: 10px;
  text-align: left;
  animation: Fade 1s ease-out;
}

#start button{
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  transition: .2s ease-out;
  animation: Fade 1s ease-out;
}

/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 */

  

footer {
  background: #fff;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  position: relative;
  height: 50px;
  width: auto;
}

/*
 * ─── KEYFRAMES ──────────────────────────────────────────────────────────────────
 */
  

@keyframes toLeft{
  0%{
    opacity: 0;
    transform: translateX(-1000px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes toRight{
  0%{
    opacity: 0;
    transform: translateX(1000px);
  }

  100%{
    opacity: 1;
    transform: translate(0);

  }
}

@keyframes Fade{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/*
 * ─── LOAD ───────────────────────────────────────────────────────────────────────
 */

.ajax_load {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.ajax_load_box {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #1dd1a1;
  border-radius: 50%;
  margin: auto;
  width: 80px;
  height: 80px;

  -webkit-animation: spin 1.2s linear infinite;
  -o-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
  margin-top: 15px;
  font-weight: bold;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
