@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    font: 400 14px Montserrat, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
  }
  
  input,
  button,
  textarea {
    font: 400 14px Montserrat, sans-serif;
  }
  
  button,
  input[type="submit"] {
    cursor: pointer;
  }



:root {
    --trasition-speed: .4s ease-out;
    --color-red: #ff7675;
    --color-blue: #0984e3;
    --color-green: #00b894;
    --color-yellow: #fdcb6e;
}

/*
 * ─── GENERAL ────────────────────────────────────────────────────────────────────
 */

.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid #1dd1a1;
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;

    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
    margin-top: 15px;
    font-weight: bold;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message {
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #636e72;
    border-left-width: 50px;
    border-radius: 4px;
    color: #636e72;
    font-size: 1em;
    font-weight: 100;
}

.message.info {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.message.error {
    border-color: var(--color-red);
    color: var(--color-red);
}

.message.success {
    border-color: var(--color-green);
    color: var(--color-green);
}

/*
 * ─── CONTAINER ──────────────────────────────────────────────────────────────────
 */

.container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-left: 50px;
}

.sidebar{
    left: 0;
    width: 250px;
    height: 80vh;
    border-radius: 4px;
    background-color: #eeeeee;
}

.sidebar header{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
    line-height: 70px;
    background-color: #ddd;
    user-select: none;
    border-radius: 4px 4px 0 0;
}

.sidebar ul{
    margin-top: 10px;
    list-style: none;
}
.sidebar ul a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 1.3em;
    color: #888888;
    font-weight: bold;
    padding-left: 40px;
    box-sizing: border-box;
    transition: var(--trasition-speed);
}

ul li:hover a{
    padding-left: 50px;
}


/*
 * ─── SELECT ─────────────────────────────────────────────────────────────────────
 */

 .div-select {
    width:100%; 
    overflow:hidden; 
    margin-bottom: 10px;
}
  
.div-select select {
    border-radius: 4px;
    background: #fff;
    color: #111;
    background-position: 205px center; 
    width: 100%; 
    height:48px; 
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px; 
    padding:13px 20px 13px 12px; 
}

select option {
    text-align: center;
    color: black;
    font-weight: bold;
}
  
select option:checked {
    font-weight: bold;
    color: black;
}
  
select option:not(:checked) {
    color: gray;
}


/*
 * ─── FORM ───────────────────────────────────────────────────────────────────────
 */

 .container main{
     flex: 3;
     margin-left: 50px;
     padding: 0 0 0 10px;
 }

 .form {
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    background: none;
    transition-duration: 0.3s;
    grid-column-start: 1;
    grid-column-end: 3;
}

button:hover {
    background: var(--color-green);
    color: #ffffff;
}

.items {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    background: #eeeeee;
    border-radius: 4px;
}

.items h3 {
    font-size: 1em;
    color: #888888;
}

.items h3 span {
    font-weight: 300;
}

.items a {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--color-red);
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    display: block;
    width: 100%;
    padding: 5px 0;
    border: 2px solid var(--color-red);
    border-radius: 4px;
}

.items a:hover {
    background: var(--color-red);
    color: #ffffff;
}
